          <nav class="navbar navbar-default navbar-fixed-top">
               <div class="container">
                    <div class="navbar-header">
                         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                         </button>
                         <a class="navbar-brand" href="#"><%= title %></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                         <ul class="nav navbar-nav"><% for (var m = 0; m < menudata.items.length; m++) { %><% if (!menudata.items[m].isSubmenu) { %>
                              <li class="<%= menudata.items[m].selected %>"><a href="<%= menudata.items[m].href %>"><%= menudata.items[m].value %></a></li><% } else { %><% if (menudata.items[m].parentMenu == "") { %>
                              <li class="dropdown">
                                   <a href="<%= menudata.items[m].href %>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= menudata.items[m].value %> <span class="caret"></span></a>
                                   <ul class="dropdown-menu"><% } else if (menudata.items[m].parentMenu != "ENDSUB") { %>
                                        <li class="<%= menudata.items[m].selected %>"><a href="<%= menudata.items[m].href %>"><%= menudata.items[m].value %></a></li><% } else { %>
                                   </ul>
                              </li><% } %><% } %><% } %>
                         </ul>

                         <ul class="nav navbar-nav navbar-right">
                              <li class="">
                                   <a href="/mypage"><span class="glyphicon glyphicon-user"></span>내 정보</a>
                              </li>
                              <li class=""><% if (!loginState) { %>
                                   <a href="/auth/login/naver"><span class="glyphicon glyphicon-off"></span>로그인</a><% } else { %>
                                   <a href="/logout"><span class="glyphicon glyphicon-off"></span>로그아웃</a><% } %>
                              </li>
                         </ul>
                         <form class="navbar-form navbar-right">
                              <input type="text" name="form-control" placeholder="검색...">
                         </form>
                    </div>
               </div>
          </nav>
