<%
/***************************
 * [포맷 메소드 추가]
 * 날짜 포멧 출력
****************************/
Date.prototype.format = function (f) {
     if (!this.valueOf())     return " ";

     var weekNAme = ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"];
     var d = this;

     return f.replace(/(yyyy|yy|MM|dd|E|hh|mm|ss|a\/p)/gi, function($1) {
          switch ($1) {
               case "yyyy": return d.getFullYear();
               case "yy": return (d.getFullYear() % 1000).zf(2);
               case "MM": return (d.getMonth() + 1).zf(2);
               case "dd": return d.getDate().zf(2);
               case "E": return weekName[d.getDay()];
               case "HH": return d.getHours().zf(2);
               case "hh": return ((h = d.getHours() % 12) ? h : 12).zf(2);
               case "mm": return d.getMinutes().zf(2);
               case "ss": return d.getSeconds().zf(2);
               case "a/p": return d.getHours() < 12 ? "오전" : "오후";
               default: return $1;
          }
     });
};
String.prototype.string = function (len) { var s = '', i = 0; while (i++ < len) { s += this; } return s; };
String.prototype.zf = function (len) { return "0".string(len - this.length) + this; };
Number.prototype.zf = function (len) { return this.toString().zf(len); };
%>

<!DOCTYPE html>
<html>
     <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <title>Music Community</title>

          <!-- ckeditor -->
          <script type="text/javascript" src="../../../ckeditor/ckeditor.js"></script>

          <!-- Bootstrap CSS -->
          <link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css">

          <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
          <![endif]-->

          <!-- Custom Fix -->
          <link rel="stylesheet" type="text/css" href="../../../css/custom.css">
     </head>

     <body>
<% include _menu %>
          <!--nav class="navbar navbar-default navbar-fixed-top">
               <div class="container">
                    <div class="navbar-header">
                         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                         </button>
                         <a class="navbar-brand" href="#">음악의 대명사</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                         <ul class="nav navbar-nav">
                              <li class=""><a href="/index">홈</a></li>
                              <li class=""><a href="/about">소개</a></li>
                              <li class="active dropdown">
                                   <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">커뮤니티<span class="caret"></span></a>
                                   <ul class="dropdown-menu">
                                        <li class="active"><a href="/play">연주 게시판</a></li>
                                        <li class=""><a href="/mentor">멘토 게시판</a></li>
                                        <li class=""><a href="/sheet">악보 게시판</a></li>
                                   </ul>
                              </li>
                         </ul>

                         <ul class="nav navbar-nav navbar-right">
                              <li class="">
                                   <a href="/mypage"><span class="glyphicon glyphicon-user"></span>내 정보</a>
                              </li>
                              <li class="">
                                   <a href="/login"><span class="glyphicon glyphicon-off"></span>로그인</a>
                              </li>
                         </ul>
                         <form class="navbar-form navbar-right">
                              <input type="text" name="form-control" placeholder="검색...">
                         </form>
                    </div>
               </div>
          </nav-->

          <div class="container">
               <div class="row">
                    <form class="form-horizontal modify-form" action="/board/<%= bid %>/modifyok/<%= boardData[0].a_id %>" method="post">
<% if (bid == "sheet" || bid == "play") { %>
                         <div class="form-group">
                              <label class="col-sm-2 control-label">카테고리</label>
                              <div class="col-sm-10">
                                   <select class="form-control" id="writeInpCate" name="writeInpCate"><% for (var i = 0; i < boardCategory.length; i++) { %><% if (boardCategory[i].name == boardData[0].c_name) { %>
                                        <option value="<%= boardCategory[i].id %>" selected><%= boardCategory[i].name %></option><% } else { %>
                                        <option value="<%= boardCategory[i].id %>"><%= boardCategory[i].name %></option><% } %><% } %>
                                   </select>
                              </div>
                         </div>
<% } %>
                         <div class="form-group">
                              <label for="modifyInpTitle" class="col-sm-2 control-label">제목</label>
                              <div class="col-sm-10">
                                   <input id="modifyInpTitle" name="modifyInpTitle" type="text" class="form-control" value="<%= boardData[0].a_title %>" placeholder="제목을 입력하세요." required />
                              </div>
                         </div>
<% if (bid == "play") { %>
                         <div class="form-group">
                              <label for="modifyYoutubeURL" class="col-sm-2 control-label">Youtube 영상 주소</label>
                              <div class="col-sm-10">
                                   <input id="modifyYoutubeURL" name="modifyYoutubeURL" type="text" class="form-control" value="https://www.youtube.com/watch?v=<%= boardData[0].a_youtubeid %>" placeholder="Youtube 영상 주소를 입력하세요. (예: https://www.youtube.com/watch?v=cwHgJudJ_Rc)" />
                              </div>
                         </div>
<% } %>
                         <div class="form-group">
                              <label for="modifyInpContent" class="col-sm-2 control-label">내용</label>
                              <div class="col-sm-10">
                                   <div class="view-content">
                                        <textarea name="modifyInpContent" id="modifyInpContent" rows="10" cols="100" style="width:766px; height:412px; display:none;"><%- boardData[0].a_content %></textarea>
                                   </div>
                              </div>
                         </div>
                         <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-10">
                                   <input type="hidden" id="modifyInpBid" name="modifyInpBid" value="<%= bid %>" />
<% if (bid == "sheet") { %>
                                   <input type="hidden" id="modifyInpImg" name="modifyInpImg" value="<%= boardData[0].a_thumurl %>" />
<% } %>
                                   <input type="button" class="btn btn-default" onclick="submitContents(this);" value="수정" />
                              </div>
                         </div>
                    </form>
               </div>
          </div>

          <!-- ckeditor -->
          <script type="text/javascript">
               CKEDITOR.replace("modifyInpContent", {
                    filebrowserUploadUrl: '/service/upload'
                    //filebrowserImageUploadUrl: '/uploads'
               });

               function submitContents(elClickedObj) {
                    var editor = CKEDITOR.instances.modifyInpContent
                      , editor_Data = editor.getData();

                    if (E("modifyInpTitle").value.length < 1) {
                         alert("제목을 입력해주세요!");
                         return;
                    }
                    if (editor_Data.length < 1) {
                         alert("내용을 입력해주세요!");
                         return;
                    }

                    var getImg = $(editor_Data).find("img")[0];
                    if ((getImg != undefined) && ($("#modifyInpImg").length > 0)) {
                         $("#modifyInpImg").val(getImg.getAttribute("src"));
                    }

                    try {
                         elClickedObj.form.submit();
                    } catch (e) {}
               }
          </script>

<% include _foot %>
     </body>
</html>
