<%

/***************************
 * [숫자 3개마다 콤마]
 * @param number              숫자
 * @return 3개마다 콤마가 찍힌 문자열
****************************/
function _numberWithCommas(number) {
     return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}

/***************************
* [일정 수준의 길이까지 허용하고 후에 ... 붙임]
* @param msg                  문자열
* @param length               허용할 길이
* @return 문자열
****************************/
function _trimDotString(msg, length) {
     return (msg.length > length) ? msg.substring(0, length) + "..." : msg;
}

/***************************
 * [포맷 메소드 추가]
 * 날짜 포멧 출력
****************************/
Date.prototype.format = function (f) {
     if (!this.valueOf())     return " ";

     var weekNAme = ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"];
     var d = this;

     return f.replace(/(yyyy|yy|MM|dd|E|hh|mm|ss|a\/p)/gi, function($1) {
          switch ($1) {
               case "yyyy": return d.getFullYear();
               case "yy": return (d.getFullYear() % 1000).zf(2);
               case "MM": return (d.getMonth() + 1).zf(2);
               case "dd": return d.getDate().zf(2);
               case "E": return weekName[d.getDay()];
               case "HH": return d.getHours().zf(2);
               case "hh": return ((h = d.getHours() % 12) ? h : 12).zf(2);
               case "mm": return d.getMinutes().zf(2);
               case "ss": return d.getSeconds().zf(2);
               case "a/p": return d.getHours() < 12 ? "오전" : "오후";
               default: return $1;
          }
     });
};
String.prototype.string = function (len) { var s = '', i = 0; while (i++ < len) { s += this; } return s; };
String.prototype.zf = function (len) { return "0".string(len - this.length) + this; };
Number.prototype.zf = function (len) { return this.toString().zf(len); };

%>

<!DOCTYPE html>
<html lang="ko">
     <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <title>Music Community</title>

          <!-- Bootstrap CSS -->
          <link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css">

          <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
          <![endif]-->

          <!-- Custom Fix -->
          <link rel="stylesheet" type="text/css" href="../../../css/custom.css">
     </head>

     <body>
<% include _menu %>
          <div class="container">
               <div class="row">
                    <h2 style="border-left: 5px solid <%= boardInfo.color %>; padding-left: 5px;"><%= boardInfo.name %></h2>
                    <p><%= boardInfo.desc %></p>

                    <div class="col-sm-12">
                         <hr/>
                         <div class="well play-popular">
                              <h2><span class="glyphicon glyphicon-star"></span>인기 게시물</h2>
                              <div class="row popular-list">
                              </div>
                         </div>
                         <hr/>
                    <div/>

                    <div class="col-sm-2">
                         <ul class="nav nav-pills nav-stacked"><% for (var i = 0; i < boardCategory.length; i++) { %><% if (boardCategory[i].id == queryCategory) { %>
                              <li role="presentation" class="active"><a href="/board/play/list/1?category=<%= boardCategory[i].id %>"><%= boardCategory[i].name %></a></li><% } else { %>
                              <li role="presentation"><a href="/board/play/list/1?category=<%= boardCategory[i].id %>"><%= boardCategory[i].name %></a></li><% } %><% } %>
                         </ul>
                    </div>
                    <div class="col-sm-10">
                         <div class="row play-list"><% for (var i = 0; i < boardData.length; i++) { %>
                              <a href="/board/play/view/<%= boardData[i].a_id %>">
                                   <div class="col-sm-4 play-article">
                                        <p class="play-id"><%= boardData[i].a_id %></p>
                                        <p class="play-img text-center"><img src="<%= boardData[i].a_youtubethum %>" class="img-thumbnail" alt=""></p>
                                        <h4 class="play-title"><%= boardData[i].a_title %> <small><label class="label label-info"><%= boardData[i].c_name %></label></small></h4>
                                        <p class="play-nickname"><%= boardData[i].u_nickname %><br><span class="play-date"><%= (new Date(boardData[i].a_date)).format("yyyy/MM/dd HH:mm:ss") %></span></p>
                                        <p class="play-content"><%- _trimDotString(striptags(boardData[i].a_content), 50) %></p>
                                   </div><% } %>
                              </a>
                         </div>

                         <div class="play-bottom">
                              <a class="btn btn-default" href="/board/play/list" role="button">목록</a>
                              <div class="play-bottom-right">
                                   <a class="btn btn-primary" href="/board/play/write" role="button">글쓰기</a>
                              </div>
                              <div class="play-search">
                                   <form class="board-search form-inline" name="board-search" action="/board/play/list/1" method="get" onsubmit="Board_Search(this); return false;">
                                        <div class="form-group has-feedback">
                                             <input type="text" id="search" name="search" value="" class="form-control" aria-describedby="inputSearchStatus" placeholder="제목 기준">
                                             <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
                                             <span id="inputSearchStatus" class="sr-only">(검색)</span>
                                             <input type="hidden" id="category" name="category" value="<%= queryCategory %>">
                                             <input type="submit" class="btn btn-default" value="검색">
                                        </div>
                                   </form>
                              </div>
                              <div class="play-pagination">
                                   <nav aria-label="Page navigation">
                                        <ul class="pagination">
                                             <li>
                                                  <a href="/board/play/list/<%= boardPaging.PAGE_START %>" aria-label="Previous">
                                                       <span aria-hidden="true">&laquo;</span>
                                                  </a>
                                             </li><% for (var idx = boardPaging.PAGE_START; idx <= boardPaging.PAGE_END; idx++) { %><% if (idx != boardPaging.PAGE_CURRENT) { %>
                                             <li><a href="/board/play/list/<%= idx %>"><%= idx %></a></li><% } else { %>
                                             <li class="active"><a href="/board/play/list/<%= idx %>"><%= idx %></a></li><% } %><% } %>
                                             <li>
                                                  <a href="/board/play/list/<%= boardPaging.PAGE_END %>" aria-label="Next">
                                                       <span aria-hidden="true">&raquo;</span>
                                                  </a>
                                             </li>
                                        </ul>
                                   </nav>
                              </div>
                         </div>
                    </div>
               </div>
          </div>

<% include _foot %>
          <script type="text/javascript">
               $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: API_BOARD_AJAX_URL + "getList",
                    data: "query=" + "getViewList" +
                          "&brdid=" + "mc_playboard" +
                          "&startlist=" + "0" +
                          "&endlist=" + "3" +
                          "&bid=" + "play_nocate"
                    ,
                    success: function (poplist) {
                         console.log(poplist);
                         var $pList = $(".popular-list");
                         for (var idx = 0; idx < poplist.length; idx++) {
                              var  $abox = $("<a>", {
                                        href: "/board/play/view/" + poplist[idx].a_id
                                   })
                                 , $article = $("<div>", {
                                        class: "col-sm-4 play-popular-article"
                                   });

                              $article
                                   .append($("<p>", {
                                        class: "play-popular-id"
                                   }).text(poplist[idx].a_id));
                              $article
                                   .append($("<p>", {
                                        class: "play-popular-img text-center"
                                   })).children("p:last")
                                   .append($("<img>", {
                                        src: poplist[idx].a_youtubethum,
                                        class: "img-thumbnail",
                                        alt: ""
                                   }))
                              $article
                                   .append($("<h4>", {
                                        class: "play-popular-title"
                                   })).children("h4:last")
                                   .append($("<span>").text(poplist[idx].a_title)).children("span:last")
                                   .append($("<small>")).children("small:last")
                                   .append($("<label>", {
                                        class: "label label-info"
                                   }).text());
                              $article
                                   .append($("<p>", {
                                        class: "play-popular-nickname"
                                   })).children("p:last")
                                   .append($("<span>").text(poplist[idx].u_nickname))
                                   .append($("<br>"))
                                   .append($("<span>", {
                                        class: "play-date"
                                   }).text((new Date(poplist[idx].a_date)).format("yyyy/MM/dd HH:mm:ss")));
                              /*$article
                                   .append($("<p>", {
                                        class: "play-popular-content"
                                   }).text(_trimDotString(striptags($pList.a_content), 50)));*/
                              $abox.append($article);
                              $pList.append($abox);
                         }
                    },
                    error: function (req, status, err) {
                         console.error("code: " + req.status + "\n" + req.responseText + "\n" + "error: " + err);
                    }
               });
          </script>
     </body>
</html>
